<div class="ocontent" id="archives">
	<div class="row">
		<div class="col-sm-3">
			<div class="ml-left" title="{{page.type}}">
				<h3><span></span><em class="ml-title">归档</em></h3>				
				<ul>
				{% assign count = 1 %}
			    {% for post in site.posts  %}
				    {% capture this_date %}{{ post.date }}{% endcapture %}
				    {% capture next_date %}{{ post.previous.date }}{% endcapture %}
				    {% capture this_date_str %}{{ this_date | date: "%Y-%m" }}{% endcapture %}
				    {% capture next_date_str %}{{ next_date | date: "%Y-%m" }}{% endcapture %}
				    {% if this_date_str != next_date_str %}
				    <li><a href="{{page.url}}#{{ this_date | date: "%Y-%m" }}">{{ this_date | date: "%Y 年 %m 月" }}<span>({{ count }})</span></a></li>
				    {% assign count = 1 %}
				    {% else %}
				    {% assign count = count | plus: 1 %}
			    	{% endif %}
			    {% endfor %}
			    </ul>
			</div>
		</div>
		<div class="col-sm-9">
			<ul class="ml-right">
				{% if page.type == 'archives' %}
					{% for post in site.posts %}
						<li class="galan{{post.date | date: "%Y-%m"}}"><a href="{{post.url}}"><time>{{ post.date | date: "%Y 年 %m 月" }}</time><span>{{post.title}}</span></a></li>
				    {% endfor %}
			    {% endif %}
			</ul>
		</div>
	</div>	
</div>