<section class="no-padding container" id="blog">
	<section class="container">
        <span class="page-title">
            <h2>最近的文章</h2>
        </span>
    </section>
	<div class="clearfix container">	
		<div class="col-sm-9">
			<ul class="page-list">
			  {% for post in site.posts %}
			    <li class="blog-box">
			    	<div class="blog-top clearfix">
						<h1 class="blog-tite"> 
							<a href="{{ post.url }}" title="">{{ post.title }}</a>
						</h1>
						<p class="blog-name">By <span>{{site.author}}</span></p>
						<p class="blog-time">发表于 {{ post.date | date: "%F" }}</p>
			    	</div>
			    	<div class="blog-con clearfix">
			    		<p>{{ post.excerpt }}</p>
			    		<a href="{{ post.url }}">更多</a>
			    	</div>
			    	<div class="blog-foot clearfix">
			    		<div class="blog-left">
			    			<span class="i-tag"></span>
			    			<a class="a" href="#">{{post.tags}}</a>
			    		</div>
			    		<div class="blog-right">
			    			<span class="pl"></span>
			    			<a class="apl ds-thread-count" href="{{ post.url }}" data-thread-key="{{ post.path }}" data-count-type="comments">条评论</a>
			    		</div>
			    	</div>
			    </li>
			  {% endfor %}
			</ul>
		</div>
		<div class="col-sm-3">
			<p>导航</p>
		</div>
	</div>
</section>