<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui">
<link rel="icon" href="{{site.url}}/img/me/me.jpg" type="image/x-icon" />
<meta name="author" content="galan小屋">
<title>galan99小屋</title>
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/animate.min.css" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css">
</head>
