<script src="{{site.baseurl}}/js/jquery.js"></script>
<script type="text/javascript">
	$('.oclose').click(function(event){
		var oHeight=$('.rlist li').eq(0).height()*$('.rlist li').size();
		if($('.rlist').height()==0){
			$('.rlist').animate({'height':oHeight+"px"});
		}else{
			$('.rlist').animate({'height':"0px"});
		}		
	});

	var show_post = function(anchor){
		if(anchor){
	        $(".ml-right li").hide();
	        var cls = anchor.substr(1);
	        $(".galan" + cls).show();
	        $(".ml-title").text(cls);
        }
    }
    if(document.location.hash) {
        show_post(document.location.hash);
    }
    window.onhashchange = function(){  
        show_post(document.location.hash);  
    } 
    $('.ml-left a').click(function() {
        if(document.location.hash){
            show_post(document.location.hash);
        }
    });
</script>
