<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Galan99小屋</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">               
                <li><a class="page-scroll" href="#blog">博客</a></li>
                <li><a class="page-scroll" href="#about">关于我</a></li>
                <li><a class="page-scroll" href="#love">关注</a></li>
            </ul>
        </div>
    </div>
</nav>
