<section class="no-padding" id="love">
    <section class="container" style="padding-bottom:0px">
        <span class="page-title">
            <h2>关注的领域</h2>
        </span>
    </section>
    <section class="container">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-6 col-sm-6">
                    <a href="javascript:;" class="portfolio-box">
                        <img src="{{site.url}}/img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    玩具
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="javascript:;" class="portfolio-box">
                        <img src="{{site.url}}/img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    阅读
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="javascript:;" class="portfolio-box">
                        <img src="{{site.url}}/img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    摄影
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="javascript:;" class="portfolio-box">
                        <img src="{{site.url}}/img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    美食
                                </div>
                            </div>
                        </div>
                    </a>
                </div>              
            </div>
        </div>
    </section>
</section>
