<div class="ocontent">
	<div class="row">
		<div class="col-sm-9">
			<div class="ocleft">
				<div class="blogs">
					<div class="blog-top clearfix">
						<h1 class="blog-tite"> 
							<a href="{{ page.url }}" title="">{{ page.title }}</a>
						</h1>
						<p class="blog-name">By <span>{{site.author}}</span></p>
						<p class="blog-time">发表于 {{ page.date | date: "%F" }}</p>
			    	</div>
					<div class="omycon">{{ content }}</div>
				</div>
				<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
				<script>
				  var cloudTieConfig = {
				    url: "http://galan99.cn"+location.pathname, 
				    sourceId: "",
				    productKey: "98b6f4431273430c9021beab7b8bd7c0",
				    target: "cloud-tie-wrapper"
				  };
				</script>
				<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="pside">
				<h3 class="tit">分类</h3>
				<ul class="list">
					{% for item in site.categories %}
						<li><a href="{{site.baseurl}}/categories/#{{item[0]}}">{{item[0]}}<sup>{{ item[1] | size }}</sup></a></li>
					{% endfor %}
				</ul>
				<h3 class="tit">标签</h3>
				<ul class="tags clearfix">
					{% for item in site.tags %}
						<li><a href="{{site.baseurl}}/tags/#{{item[0]}}">{{item[0]}}<sup>{{ item[1] | size }}</sup></a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>	
</div>