<div class="oheader">
	<div class="clearfix">
	    <div>
	    	<a href="javascript:;" class="mbox">
	    		<img class="ompic" src="{{ site.baseurl }}/img/me/me.jpg"/>
	    		<div class="omtit mflex">
	    			<h3>Galan小屋</h3>
	    			<p>welcome my blog</p>
	    		</div>
	    	</a>   	   	
	    </div>
	    <div class="hidden-md hidden-lg oclose"><span></span></div>
	    <div class="rlist">
	    	<ul>
	    		<li><a href="{{site.baseurl}}">首页</a></li>
	    		<li><a href="{{site.baseurl}}/archives">归档</a></li>
	    		<li><a href="#">关于</a></li>
	    	</ul>
	    </div>
    </div>
</div>
