<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui">
<link rel="icon" href="{{ site.baseurl }}/img/me/me.jpg" type="image/x-icon" />
<title>{{page.title}}</title>
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/highlight.css" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css">
</head>
<body>
	{% include post/header.html %}
	{% include post/content.html %}
	{% include post/foot.html %}
</body>
	{% include js.html %}
</html>
